.flexbox-container{
  
}

.flexbox-item{
  width: 200;
  margin: 10px;
  border: 3px solid #1BB85E;
  background-color: #1B5BB8
}

.flexbox-item-1{
  min-height: 100 px
}

.flexbox-item-2{
  min-height: 200 px
}

.flexbox-item-3{
  min-height: 300 px
}
